<div class="row">
	<div class="col-md-1">{{questionnaire.id}}</div>
	<div class="col-md-2">{{questionnaire.title}}</div>
	<div class="col-md-3">{{questionnaire.description}}</div>
	<div>
		<button class="btn-link" ng-click="controller.show(questionnaire.id)">
			<span class="glyphicon glyphicon-zoom-in"></span>
		</button>
		<button class="btn-link" ng-click="controller.remove(questionnaire.id)">
			<span class="glyphicon glyphicon-remove"></span>
		</button>
		<button class="btn-link" ng-click="controller.edit(questionnaire.id)">
			<span class="glyphicon glyphicon-edit"></span>
		</button>
<!-- 		<button class="btn-link" ng-click="controller.openUpdateModalDialog(questionnaire.id)"> -->
<!-- 			<span class="glyphicon glyphicon-edit"></span> -->
<!-- 		</button> -->
	</div>
</div>