<form class="form-horizontal">
	<div class="modal-header">
		<button type="button" class="close" ng-click="dialog.cancel()">&times;</button>
		<h4 class="modal-title">Create Questionnaire</h4>
	</div>
	<div class="modal-body">
		<div class="form-group">
			<label class="col-sm-3 control-label" for="title">Title:</label>
			<div class="col-sm-8">
				<input type="text" id="title" class="form-control"
					ng-model="dialog.questionnaire.title" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label" for="description">Description:</label>
			<div class="col-sm-8">
				<textarea id="description" rows="4" class="form-control"
					ng-model="dialog.questionnaire.description">
        	       		</textarea>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default"
			ng-click="dialog.cancel()">Close</button>
		<button type="button" class="btn btn-primary" ng-click="dialog.ok()">Save</button>
	</div>
</form>
